<!DOCTYPE html>
<html>
<head>
	<title>Sneak Street</title>
	<link href="../css/home.css"rel="stylesheet" media="screen">
	<link href="../css/blog.css"rel="stylesheet" media="screen">
	<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>   

</head>
<body>
	<div class="container">
		<h1 id="title">Blog</h1>
		<div style="height:20px"></div>
			<p class="blog-entry">November 16, 2014
			<br>
			Take over sneak business
			</p>
			<p class="blog-entry">November 16, 2014
			<br>
			Happy Birthday Michael!
			</p>
			<p class="blog-entry">November 17, 2014
			<br>
			Sneak Street is participating in University School's Tech Cup Semi-Finals November 18
			</p>
	</div>

	<div class="menu">
		<ul >
			<a href="../index.html"><li class="btn">Street</li></a>
			<a href="contact.html"><li class="btn">Contact</li></a>
			<a href="blog.html"><li class="btn">Blog</li></a>
		</ul>
	</div>
</body>
</html>
