<!DOCTYPE html>
<html>
<head>
	<title>Sneak Street</title>
	<link href="../css/home.css"rel="stylesheet" media="screen">
	<link href="../css/contact.css"rel="stylesheet" media="screen">
	<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>   

</head>
<body>
	<div class="container">
		<h1 id="title">Contact</h1>
		<div style="height:100px"></div>
		<h3>Michael Tan</h3>
		<p>mtan16@us.edu
		</p>
		<p class="contact-entry">440-665-7462
		</p>
		<p class="img-entry">
		<img src="file:///Users/mtan16/Pictures/Finished%20Sneak%20Street%20Logo.png" />
		</p>
	</div>

	<div class="menu">
		<ul >
			<a href="../index.html"><li class="btn">Street</li></a>
			<a href="contact.html"><li class="btn">Contact</li></a>
			<a href="blog.html"><li class="btn">Blog</li></a>
		</ul>
	</div>
</body>
</html>
